.navbar{
    background: var(--color-bg);
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.logo{
    display: flex;
    padding: 0.7rem ;
    gap: 0.5rem;
}
.logo p{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
   
}

.link{
    color: white;
    padding: 1rem;
}
